<br><br><br><br><br><br>
<h2> <%= gettext "New Deal" %></h2>

<%= render "form.html", Map.put(assigns, :action, deal_path(@conn, :create)) %>

<span><%= link "Geri", to: deal_path(@conn, :index) %></span>
