<div class="col-md-4 right">
 <!-- <a href="/deals/submit" class="btn btn-primary btn-lg btn-block">Kampanya Tanımla</a> -->
  <br/>
  <p>Yeni fırsatlardan haberdar olmak  için e-posta listemize kaydolun.</p>
  <br/>

  <div class="newsletter">
    <%= render CoderjobsWeb.LayoutView, "mailchimp.html", assigns %>
  </div>
  <div class="ads">
    <img src="http://via.placeholder.com/350x300?text=advertisement" />
  </div>
</div>