     <footer class="footer">
      <div class="container">
        <span class="text-muted">Bütün Hakları Saklıdır &copy; 2019 Tarım Fırsatı | <a href="/terms">Kullanım Koşulları</a></span>
      </div>
    </footer>