<p>Merhaba <%= @user.name %></p>

<p>Bu e-postayı şifrenizi sıfırlamanız için gönderiyoruz. <br />

Sıfırlamak için tıklayın<br />
<a href="<%= @reset_url %>"><%= @reset_url %></a>
<br />

Tarım Fırsatını kullandığınız için teşekkür ederiz. </p>

<p>Saygılarımızla,<br />
Tarım Fırsatı</p>
