<p>Merhaba <%= @user.name %></p>

<p>Hesabınızı doğrulamak için tıklayın<br />

<br />
<a href="<%= @verification_url %>"><%= @verification_url %></a>
<br />

Tarım Fırsatını kullandığınız için teşekkür ederiz. </p>

<p>Saygılarımızla,<br />
Tarım Fırsatı</p>
