<div class="page">
  <div class="row">
    <div class="col-md-8 left">
      <div class="content-inner">
        <h3><%= gettext "Web Site Title"%> </h3>
        
   <p><%= gettext "Web Site Def1"%> </p> 
        <p><%= gettext "Web Site P1"%>  </p>
          <p><%= gettext "Web Site P2"%> </p>
          
      </div>
    </div>
    <% render IndealsWeb.LayoutView, "side.html", assigns %> 
  </div>
</div>